body {
  font-family: "Helvitica", sans-serif;
}
body{
  display: block;
  margin: 8px;
    margin-top: 8px;
    margin-right: 8pn;
    margin-bottom: 8px;
    margin-left: 8px;
}
.big {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
text-align: center;
color: white;
}
div {
  display: block;
}
.big h1{
  font-size: 70px;
}
h1, h2, h3{
  font-weight: bold;
}
h1 {
  display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
p{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.btn-nav {
  font-size: 18px;
  color: white;
}
.supporting {
  text-align: center;
}
.supporting h2 {
  font-size: 32px;
}
/*TODO Add icons  */
